{% extends "app/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div class="d-flex flex-row">

<nav class="sidebar d-flex flex-column">
    <div class="profile">
        <div class="profile-pic float-left">
            <img src="{% static 'app/img/person-placeholder.jpg' %}" alt="" class="rounded-circle">
        </div>
        <div class="profile-info float-left">
            <span>Bem-vinda,</span>
            <h2>Maria</h2>
        </div>
    </div>

    <ul class="list-unstyled list-unstyled1 components">
        <p>Reportes</p>
        {% for map in maps %}
        <li data-map={{ map.name }} {% if forloop.first %}class="active"{% endif %}>{{ map.title }}</li>
        {% endfor %}
    </ul>
    <ul class="list-unstyled list-unstyled2 components">
        <li data-table='4'>Produtos Não Registrados</li>
        <li data-table='6'>ICMS tabelado e calculado</li>
        <li data-table='7'>Crédito Perdido</li>
    </ul>
    <img class="mt-auto mx-auto mb-2" src="{% static 'app/img/netclaroembratel.png' %}" alt="">
</nav>

<div id="map"></div>

<div class="right d-flex flex-column">
    <div id="column-chart" class="no-btn"></div>
    <div id="button-details" class="hidden m-auto">
        <button id="details-btn" class="btn danger mt-4">Detalhes</button>
    </div>
</div>

</div>

{% endblock %}
