{% extends "app/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div id="table-container">

<nav class="navbar navbar-default navbar-fixed-top justify-content-between mb-2">
    <div class="back-button">
        <button id="back-btn" class="btn btn-default">
            <img src="{% static 'app/img/back.png' %}" width="20" />
       </button>
    </div>
    <h2 class="m-0">{{t.title}}</h2>
    <div class="d-flex flex-row justify-content-start align-items-center">
        {% comment %} <div class="profile-pic float-left"> {% endcomment %}
            <img src="{% static 'app/img/person-placeholder.jpg' %}" alt="" class="rounded-circle maria">
        {% comment %} </div> {% endcomment %}
        {% comment %} <div class="profile-info float-left"> {% endcomment %}
            <h2 class="m-0 ml-1">Maria</h2>
        {% comment %} </div> {% endcomment %}
    </div>
</nav>

<div class="table">
<table id="tabela" class="table table-striped table-bordered" style="width:100%" data-json={{ t.datajson }}>
      <thead>
          <tr>
            {% for k, v in t.headers.items %}
              <th data-name={{k}}>{{v}}</th>
            {% endfor %}
          </tr>
      </thead>
    </table>
  </div>

</div>

{% endblock %}
