#table-container {
    height: 100vh;
}

.navbar {
  background-color: #d7321e;
  color: #ffffff;
}

.navbar fixed-top {
  right: 0;
  left: 0;
  position: fixed;
}

.maria {
    border: 1px solid rgba(52,73,94,.44);
    height: 40px;
}

.btn {
  background: transparent;
}
